#home{
    height: calc(100vh);
    background-image: url("../../../assets/images/cut.png"), linear-gradient(to right, #0d37bd , #2e95fa); 
    background-repeat: no-repeat, repeat;
    background-position: bottom;
}
#home-img{
    height: 500px;
    width: 500px;
    background-image: url("../../../assets/images/banner_illustration.png"); 
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: 500px 500px;
    float: right;
    margin-right: 10%;
    margin-top:5%;
}
#home-text{
    color:aliceblue;
    margin-top: 14%;
    margin-left: 10%;
}

#home-para{
    margin-top: 20px;
    line-height: 10px;
    font-size: 14px;
    margin-top: 20px;
}

#logo-img{
    position: absolute;
    margin-top: 30px;
    left: 160px;
}
