<div class="container-fluid" id="home">
    <img src="../../../assets/images/Logo_white.png" alt="" id="logo-img">
    <div class="d-flex justify-content-between">
        <div class="text-left" id="home-text">
            <h1>Designed by</h1>
            <h1>Indian Engineers</h1>
            <div id="home-para">
                <p>A random paragraph can also be an excellent way for a writer to tackle writers' block.</p>
                <p>Writing block can often happen due to being stuck</p>
                <p>with a current project that the writer is trying to complete.</p>
            </div>
        </div>
        <div id="home-img"></div>
    </div>
</div>