<div class="container" style="margin-bottom: 20px;">
    <div class="text-center" style="margin-top: 30px; margin-bottom: 20px;">
        <p class="badge badge-pill badge-secondary text-center" style="font-size: 15px;">Key Feautures</p>
    </div>
    <div class="d-flex justify-content-between" style="margin-top: 50px;">
        <div class="card text-center" style="width: 18rem;">
            <img style="width:50px;height:50px;margin-left:40%;margin-top: 20px;" class="card-img-top" src="../../../../assets/images/technical_security.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>

        <div class="card text-center" style="width: 18rem;">
            <img class="card-img-top"  style="width:50px;height:50px;margin-left:40%;margin-top: 20px;" src="../../../../assets/images/data_security.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>

        <div class="card text-center" style="width: 18rem;">
            <img class="card-img-top"  style="width:50px;height:50px;margin-left:40% ;margin-top: 20px;" src="../../../../assets/images/identity_theft.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
    </div>
</div>